env_vars = {
  APPWRITE_DB_HOST           = "mongodb.internal"     # Replace with real MongoDB hostname or internal DNS
  APPWRITE_REDIS_HOST        = "redis.internal"       # Replace with Redis hostname
  APPWRITE_PROJECTS_STATS    = "enabled"
  APPWRITE_USAGE_STATS       = "enabled"
  APPWRITE_FUNCTIONS_ENV     = "node-18.0"
  APPWRITE_FUNCTIONS_TIMEOUT = "60"
  APPWRITE_HOSTNAME          = "appwrite.local"       # Replace with your domain or ALB DNS later
}
